%form.search(method = "get"
             action = "/search")

  %input.keyword.bold(type = "text"
                 name = "keyword"
                 value = @keyword)

  = haml :search_form_categories, :layout => false

  %input.large-font(type = "submit"
                    value = "検索")