body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFBF00;
    overflow: hidden;
}

/*
 * Logo
 */
h1.top-left-logo {
    margin: 0 0.6em 0 0.6em;
    font-size: 200%;
}

h1.index {
    font-size: 300%;
}

h1 a {
    text-decoration: none;
    color: #333;
}

table.graph {
    border-spacing: 0;
    border-collapse: collapse;
}

table.graph td {
    padding: 0;
}

/**
 * Search Form
 */

form.index {
    line-height: 200%;
}

form.search input {
    vertical-align: middle;
    font-size: 120%;
}

form.search select {
    font-size: 100%;
}

form.search input.keyword {
    padding: 2px 4px;
    border: 2px solid #555;
    width: 14em;
}

form.top {
    line-height: 1.4em;
}

select option.even {
    background-color: #EEEEEE;
}

select option.odd {
    background-color: #CDCDCD;
}

a.recommend {
    font-size: 90%;
    margin-left: 0.4em;
}

form div.keyword-box {
    /* background-color: #EDEDED; */
    padding: 0px;
}

form div.categories-box {
    margin: 3px 0px;
}

#graph-area {
    margin-left: 130px;
}

#x-menu-box {
    font-weight: bold;
    width: 120px;
    background-color: #FF7F00;
    text-align: right;
    position: absolute;
    bottom: 0;
    padding: 5px;
    z-index: 500;
}

#x-menu-box select {
    font-size: 110%;
}

#y-menu-box {
    font-weight: bold;
    width: 250px;
    background-color: #FF7F00;
    position: absolute;
    padding: 5px;
    text-align: right;
    z-index: 500;
}

#y-menu-box select {
    font-size: 110%;
}

/*
 * Util
 */

.center { text-align: center; }
.bold { font-weight: bold; }
.default-cursor { cursor: default; }
.float-left { float: left; }
.float-right { float: right; }
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */