body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0 0;
    padding: 0 0 100px 0;
}

.header {
    padding: 20px 50px 0px 50px;
}

.body {
    padding: 0px 50px;
}

/*
 * Logo
 */
h1.top-left-logo {
    margin: 0 0.8em 0 0;
    font-size: 200%;
}

h1.index {
    font-size: 300%;
}

h1 a {
    text-decoration: none;
    color: #000;
}

table.graph {
    border-spacing: 0;
    border-collapse: collapse;
}

table.graph td {
    padding: 0;
}

/**
 * Search Form
 */

form.index {
    line-height: 200%;
}

form.search input {
    vertical-align: middle;
    font-size: 120%;
}

form.search select {
    font-size: 100%;
}

form.search input.keyword {
    padding: 2px 4px;
    border: 2px solid #CCC;
    width: 14em;
}

form.top {
    line-height: 1.4em;
}


select option.even {
    background-color: #EEEEEE;
}
select option.odd {
    background-color: #CDCDCD;
}

a.recommend {
    font-size: 90%;
    margin-left: 0.4em;
}

form div.keyword-box {
    background-color: #EDEDED;
    padding: 6px 8px;
}

form div.categories-box {
    margin: 6px;
}

/*
 * Util
 */

.center { text-align: center; }
.bold { font-weight: bold; }
.default-cursor { cursor: default; }
.float-left { float: left; }
.float-right { float: right; }
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */