#header.clearfix
  %table
    %tr
      %td
        %h1.top-left-logo
          %a(href='/') XYzon
      %td
        = haml :search_form, :layout => false

#x-menu-box
  %select#x-axis-menu
    %option(value='price') 値段
    %option(value='SalesRank') 売れ筋
    %option(value='ReleaseDate') 発売日
    %option(value='Weight') 重さ
    %option(value='TotalReviews') レビュー数
    %option(value='AverageRating') 平均評価
  %br
  ←
  %span#x-axis-label
    安い

#y-menu-box
  %select#y-axis-menu
    %option(value='SalesRank') 売れ筋
    %option(value='ReleaseDate') 発売日
    %option(value='Weight') 重さ
    %option(value='TotalReviews') レビュー数
    %option(value='AverageRating') 平均評価
    -# %option(value='DisplaySize') ディスプレイサイズ
    -# %option(value='OpticalZoom') 光学ズーム
  %span#y-axis-label
    売れ筋
  ↑

%script{:type => 'text/javascript',
        :src  => '/js/jquery-1.4.2.js'}
%script{:type => 'text/javascript',
        :src  => '/js/excanvas.compiled.js'}
%script{:type => 'text/javascript',
        :src  => '/js/jquery.qtip-1.0.0-rc3.js'}
%script{:type => 'text/javascript',
        :src  => '/js/closure-library/closure/goog/base.js'}
%script{:type => 'text/javascript',
        :src  => '/js/xyzon-deps.js'}
:javascript
  goog.require('xyzon');
:javascript
  xyzon.main();
